@import "tailwindcss";

@theme {
  --color-brand-black: #171717;
  --color-brand-orange: #f25623;
  --color-brand-light-gray: #dedede;
  --color-brand-dark-gray: #4d4d4d4d;
}

.nobel-uno-font {
  font-family: var(--font-nobel-uno);
}
